.map {
  display: inline-block;
  margin-top: 0.1vh;
  margin-bottom: -0.1vh;
  outline-color: gray;
  outline-style: solid;
  outline-width: thin;
  top: 1.5vh;
  height: 6.8vh;
  color: black;
  background-size: 100%;
  background-color: white;
  z-index: 5;
  font-size: 2vh;
}

.map:hover {
  cursor: pointer;
}

.tile {
  background-image: url('../images/tile.png');
  background-size: 100%;
}

.my-tile {
  background-image: url('../images/yourtile.png');
  background-size: 100%;
}

.victory {
  background-image: url('../images/theRareW.jpeg');
  background-size: 100%;
}

.board-item {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
}

.timer {
  font-size: 1.5vh;
  text-align: center;
  margin-left: -6.66px;
}

.author-border {
  border-top: 10px;
}

.pic11-0 {
  background-image: url('../images/victory/slice_11_0.png');
  background-size: 100% 110%;
}

.pic11-1 {
  background-image: url('../images/victory/slice_11_1.png');
  background-size: 100% 110%;
}

.pic11-2 {
  background-image: url('../images/victory/slice_11_2.png');
  background-size: 100% 110%;
}

.pic11-3 {
  background-image: url('../images/victory/slice_11_3.png');
  background-size: 100% 110%;
}

.pic11-4 {
  background-image: url('../images/victory/slice_11_4.png');
  background-size: 100% 110%;
}

.pic11-5 {
  background-image: url('../images/victory/slice_11_5.png');
  background-size: 100% 110%;
}

.pic11-6 {
  background-image: url('../images/victory/slice_11_6.png');
  background-size: 100% 110%;
}

.pic11-7 {
  background-image: url('../images/victory/slice_11_7.png');
  background-size: 100% 110%;
}

.pic11-8 {
  background-image: url('../images/victory/slice_11_8.png');
  background-size: 100% 110%;
}

.pic11-9 {
  background-image: url('../images/victory/slice_11_9.png');
  background-size: 100% 110%;
}

.pic11-10 {
  background-image: url('../images/victory/slice_11_10.png');
  background-size: 100% 110%;
}

.pic11-11 {
  background-image: url('../images/victory/slice_11_11.png');
  background-size: 100% 110%;
}

.pic11-12 {
  background-image: url('../images/victory/slice_11_12.png');
  background-size: 100% 110%;
}

.pic11-13 {
  background-image: url('../images/victory/slice_11_13.png');
  background-size: 100% 110%;
}

.pic11-14 {
  background-image: url('../images/victory/slice_11_14.png');
  background-size: 100% 110%;
}

.pic11-15 {
  background-image: url('../images/victory/slice_11_15.png');
  background-size: 100% 110%;
}

.pic10-0 {
  background-image: url('../images/victory/slice_10_0.png');
  background-size: 100% 110%;
}

.pic10-1 {
  background-image: url('../images/victory/slice_10_1.png');
  background-size: 100% 110%;
}

.pic10-2 {
  background-image: url('../images/victory/slice_10_2.png');
  background-size: 100% 110%;
}

.pic10-3 {
  background-image: url('../images/victory/slice_10_3.png');
  background-size: 100% 110%;
}

.pic10-4 {
  background-image: url('../images/victory/slice_10_4.png');
  background-size: 100% 110%;
}

.pic10-5 {
  background-image: url('../images/victory/slice_10_5.png');
  background-size: 100% 110%;
}

.pic10-6 {
  background-image: url('../images/victory/slice_10_6.png');
  background-size: 100% 110%;
}

.pic10-7 {
  background-image: url('../images/victory/slice_10_7.png');
  background-size: 100% 110%;
}

.pic10-8 {
  background-image: url('../images/victory/slice_10_8.png');
  background-size: 100% 110%;
}

.pic10-9 {
  background-image: url('../images/victory/slice_10_9.png');
  background-size: 100% 110%;
}

.pic10-10 {
  background-image: url('../images/victory/slice_10_10.png');
  background-size: 100% 110%;
}

.pic10-11 {
  background-image: url('../images/victory/slice_10_11.png');
  background-size: 100% 110%;
}

.pic10-12 {
  background-image: url('../images/victory/slice_10_12.png');
  background-size: 100% 110%;
}

.pic10-13 {
  background-image: url('../images/victory/slice_10_13.png');
  background-size: 100% 110%;
}

.pic10-14 {
  background-image: url('../images/victory/slice_10_14.png');
  background-size: 100% 110%;
}

.pic10-15 {
  background-image: url('../images/victory/slice_10_15.png');
  background-size: 100% 110%;
}

.pic9-0 {
  background-image: url('../images/victory/slice_9_0.png');
  background-size: 100% 110%;
}

.pic9-1 {
  background-image: url('../images/victory/slice_9_1.png');
  background-size: 100% 110%;
}

.pic9-2 {
  background-image: url('../images/victory/slice_9_2.png');
  background-size: 100% 110%;
}

.pic9-3 {
  background-image: url('../images/victory/slice_9_3.png');
  background-size: 100% 110%;
}

.pic9-4 {
  background-image: url('../images/victory/slice_9_4.png');
  background-size: 100% 110%;
}

.pic9-5 {
  background-image: url('../images/victory/slice_9_5.png');
  background-size: 100% 110%;
}

.pic9-6 {
  background-image: url('../images/victory/slice_9_6.png');
  background-size: 100% 110%;
}

.pic9-7 {
  background-image: url('../images/victory/slice_9_7.png');
  background-size: 100% 110%;
}

.pic9-8 {
  background-image: url('../images/victory/slice_9_8.png');
  background-size: 100% 110%;
}

.pic9-9 {
  background-image: url('../images/victory/slice_9_9.png');
  background-size: 100% 110%;
}

.pic9-10 {
  background-image: url('../images/victory/slice_9_10.png');
  background-size: 100% 110%;
}

.pic9-11 {
  background-image: url('../images/victory/slice_9_11.png');
  background-size: 100% 110%;
}

.pic9-12 {
  background-image: url('../images/victory/slice_9_12.png');
  background-size: 100% 110%;
}

.pic9-13 {
  background-image: url('../images/victory/slice_9_13.png');
  background-size: 100% 110%;
}

.pic9-14 {
  background-image: url('../images/victory/slice_9_14.png');
  background-size: 100% 110%;
}

.pic9-15 {
  background-image: url('../images/victory/slice_9_15.png');
  background-size: 100% 110%;
}

.pic8-0 {
  background-image: url('../images/victory/slice_8_0.png');
  background-size: 100% 110%;
}

.pic8-1 {
  background-image: url('../images/victory/slice_8_1.png');
  background-size: 100% 110%;
}

.pic8-2 {
  background-image: url('../images/victory/slice_8_2.png');
  background-size: 100% 110%;
}

.pic8-3 {
  background-image: url('../images/victory/slice_8_3.png');
  background-size: 100% 110%;
}

.pic8-4 {
  background-image: url('../images/victory/slice_8_4.png');
  background-size: 100% 110%;
}

.pic8-5 {
  background-image: url('../images/victory/slice_8_5.png');
  background-size: 100% 110%;
}

.pic8-6 {
  background-image: url('../images/victory/slice_8_6.png');
  background-size: 100% 110%;
}

.pic8-7 {
  background-image: url('../images/victory/slice_8_7.png');
  background-size: 100% 110%;
}

.pic8-8 {
  background-image: url('../images/victory/slice_8_8.png');
  background-size: 100% 110%;
}

.pic8-9 {
  background-image: url('../images/victory/slice_8_9.png');
  background-size: 100% 110%;
}

.pic8-10 {
  background-image: url('../images/victory/slice_8_10.png');
  background-size: 100% 110%;
}

.pic8-11 {
  background-image: url('../images/victory/slice_8_11.png');
  background-size: 100% 110%;
}

.pic8-12 {
  background-image: url('../images/victory/slice_8_12.png');
  background-size: 100% 110%;
}

.pic8-13 {
  background-image: url('../images/victory/slice_8_13.png');
  background-size: 100% 110%;
}

.pic8-14 {
  background-image: url('../images/victory/slice_8_14.png');
  background-size: 100% 110%;
}

.pic8-15 {
  background-image: url('../images/victory/slice_8_15.png');
  background-size: 100% 110%;
}

.pic7-0 {
  background-image: url('../images/victory/slice_7_0.png');
  background-size: 100% 110%;
}

.pic7-1 {
  background-image: url('../images/victory/slice_7_1.png');
  background-size: 100% 110%;
}

.pic7-2 {
  background-image: url('../images/victory/slice_7_2.png');
  background-size: 100% 110%;
}

.pic7-3 {
  background-image: url('../images/victory/slice_7_3.png');
  background-size: 100% 110%;
}

.pic7-4 {
  background-image: url('../images/victory/slice_7_4.png');
  background-size: 100% 110%;
}

.pic7-5 {
  background-image: url('../images/victory/slice_7_5.png');
  background-size: 100% 110%;
}

.pic7-6 {
  background-image: url('../images/victory/slice_7_6.png');
  background-size: 100% 110%;
}

.pic7-7 {
  background-image: url('../images/victory/slice_7_7.png');
  background-size: 100% 110%;
}

.pic7-8 {
  background-image: url('../images/victory/slice_7_8.png');
  background-size: 100% 110%;
}

.pic7-9 {
  background-image: url('../images/victory/slice_7_9.png');
  background-size: 100% 110%;
}

.pic7-10 {
  background-image: url('../images/victory/slice_7_10.png');
  background-size: 100% 110%;
}

.pic7-11 {
  background-image: url('../images/victory/slice_7_11.png');
  background-size: 100% 110%;
}

.pic7-12 {
  background-image: url('../images/victory/slice_7_12.png');
  background-size: 100% 110%;
}

.pic7-13 {
  background-image: url('../images/victory/slice_7_13.png');
  background-size: 100% 110%;
}

.pic7-14 {
  background-image: url('../images/victory/slice_7_14.png');
  background-size: 100% 110%;
}

.pic7-15 {
  background-image: url('../images/victory/slice_7_15.png');
  background-size: 100% 110%;
}

.pic6-0 {
  background-image: url('../images/victory/slice_6_0.png');
  background-size: 100% 110%;
}

.pic6-1 {
  background-image: url('../images/victory/slice_6_1.png');
  background-size: 100% 110%;
}

.pic6-2 {
  background-image: url('../images/victory/slice_6_2.png');
  background-size: 100% 110%;
}

.pic6-3 {
  background-image: url('../images/victory/slice_6_3.png');
  background-size: 100% 110%;
}

.pic6-4 {
  background-image: url('../images/victory/slice_6_4.png');
  background-size: 100% 110%;
}

.pic6-5 {
  background-image: url('../images/victory/slice_6_5.png');
  background-size: 100% 110%;
}

.pic6-6 {
  background-image: url('../images/victory/slice_6_6.png');
  background-size: 100% 110%;
}

.pic6-7 {
  background-image: url('../images/victory/slice_6_7.png');
  background-size: 100% 110%;
}

.pic6-8 {
  background-image: url('../images/victory/slice_6_8.png');
  background-size: 100% 110%;
}

.pic6-9 {
  background-image: url('../images/victory/slice_6_9.png');
  background-size: 100% 110%;
}

.pic6-10 {
  background-image: url('../images/victory/slice_6_10.png');
  background-size: 100% 110%;
}

.pic6-11 {
  background-image: url('../images/victory/slice_6_11.png');
  background-size: 100% 110%;
}

.pic6-12 {
  background-image: url('../images/victory/slice_6_12.png');
  background-size: 100% 110%;
}

.pic6-13 {
  background-image: url('../images/victory/slice_6_13.png');
  background-size: 100% 110%;
}

.pic6-14 {
  background-image: url('../images/victory/slice_6_14.png');
  background-size: 100% 110%;
}

.pic6-15 {
  background-image: url('../images/victory/slice_6_15.png');
  background-size: 100% 110%;
}

.pic5-0 {
  background-image: url('../images/victory/slice_5_0.png');
  background-size: 100% 110%;
}

.pic5-1 {
  background-image: url('../images/victory/slice_5_1.png');
  background-size: 100% 110%;
}

.pic5-2 {
  background-image: url('../images/victory/slice_5_2.png');
  background-size: 100% 110%;
}

.pic5-3 {
  background-image: url('../images/victory/slice_5_3.png');
  background-size: 100% 110%;
}

.pic5-4 {
  background-image: url('../images/victory/slice_5_4.png');
  background-size: 100% 110%;
}

.pic5-5 {
  background-image: url('../images/victory/slice_5_5.png');
  background-size: 100% 110%;
}

.pic5-6 {
  background-image: url('../images/victory/slice_5_6.png');
  background-size: 100% 110%;
}

.pic5-7 {
  background-image: url('../images/victory/slice_5_7.png');
  background-size: 100% 110%;
}

.pic5-8 {
  background-image: url('../images/victory/slice_5_8.png');
  background-size: 100% 110%;
}

.pic5-9 {
  background-image: url('../images/victory/slice_5_9.png');
  background-size: 100% 110%;
}

.pic5-10 {
  background-image: url('../images/victory/slice_5_10.png');
  background-size: 100% 110%;
}

.pic5-11 {
  background-image: url('../images/victory/slice_5_11.png');
  background-size: 100% 110%;
}

.pic5-12 {
  background-image: url('../images/victory/slice_5_12.png');
  background-size: 100% 110%;
}

.pic5-13 {
  background-image: url('../images/victory/slice_5_13.png');
  background-size: 100% 110%;
}

.pic5-14 {
  background-image: url('../images/victory/slice_5_14.png');
  background-size: 100% 110%;
}

.pic5-15 {
  background-image: url('../images/victory/slice_5_15.png');
  background-size: 100% 110%;
}

.pic4-0 {
  background-image: url('../images/victory/slice_4_0.png');
  background-size: 100% 110%;
}

.pic4-1 {
  background-image: url('../images/victory/slice_4_1.png');
  background-size: 100% 110%;
}

.pic4-2 {
  background-image: url('../images/victory/slice_4_2.png');
  background-size: 100% 110%;
}

.pic4-3 {
  background-image: url('../images/victory/slice_4_3.png');
  background-size: 100% 110%;
}

.pic4-4 {
  background-image: url('../images/victory/slice_4_4.png');
  background-size: 100% 110%;
}

.pic4-5 {
  background-image: url('../images/victory/slice_4_5.png');
  background-size: 100% 110%;
}

.pic4-6 {
  background-image: url('../images/victory/slice_4_6.png');
  background-size: 100% 110%;
}

.pic4-7 {
  background-image: url('../images/victory/slice_4_7.png');
  background-size: 100% 110%;
}

.pic4-8 {
  background-image: url('../images/victory/slice_4_8.png');
  background-size: 100% 110%;
}

.pic4-9 {
  background-image: url('../images/victory/slice_4_9.png');
  background-size: 100% 110%;
}

.pic4-10 {
  background-image: url('../images/victory/slice_4_10.png');
  background-size: 100% 110%;
}

.pic4-11 {
  background-image: url('../images/victory/slice_4_11.png');
  background-size: 100% 110%;
}

.pic4-12 {
  background-image: url('../images/victory/slice_4_12.png');
  background-size: 100% 110%;
}

.pic4-13 {
  background-image: url('../images/victory/slice_4_13.png');
  background-size: 100% 110%;
}

.pic4-14 {
  background-image: url('../images/victory/slice_4_14.png');
  background-size: 100% 110%;
}

.pic4-15 {
  background-image: url('../images/victory/slice_4_15.png');
  background-size: 100% 110%;
}

.pic3-0 {
  background-image: url('../images/victory/slice_3_0.png');
  background-size: 100% 110%;
}

.pic3-1 {
  background-image: url('../images/victory/slice_3_1.png');
  background-size: 100% 110%;
}

.pic3-2 {
  background-image: url('../images/victory/slice_3_2.png');
  background-size: 100% 110%;
}

.pic3-3 {
  background-image: url('../images/victory/slice_3_3.png');
  background-size: 100% 110%;
}

.pic3-4 {
  background-image: url('../images/victory/slice_3_4.png');
  background-size: 100% 110%;
}

.pic3-5 {
  background-image: url('../images/victory/slice_3_5.png');
  background-size: 100% 110%;
}

.pic3-6 {
  background-image: url('../images/victory/slice_3_6.png');
  background-size: 100% 110%;
}

.pic3-7 {
  background-image: url('../images/victory/slice_3_7.png');
  background-size: 100% 110%;
}

.pic3-8 {
  background-image: url('../images/victory/slice_3_8.png');
  background-size: 100% 110%;
}

.pic3-9 {
  background-image: url('../images/victory/slice_3_9.png');
  background-size: 100% 110%;
}

.pic3-10 {
  background-image: url('../images/victory/slice_3_10.png');
  background-size: 100% 110%;
}

.pic3-11 {
  background-image: url('../images/victory/slice_3_11.png');
  background-size: 100% 110%;
}

.pic3-12 {
  background-image: url('../images/victory/slice_3_12.png');
  background-size: 100% 110%;
}

.pic3-13 {
  background-image: url('../images/victory/slice_3_13.png');
  background-size: 100% 110%;
}

.pic3-14 {
  background-image: url('../images/victory/slice_3_14.png');
  background-size: 100% 110%;
}

.pic3-15 {
  background-image: url('../images/victory/slice_3_15.png');
  background-size: 100% 110%;
}

.pic2-0 {
  background-image: url('../images/victory/slice_2_0.png');
  background-size: 100% 110%;
}

.pic2-1 {
  background-image: url('../images/victory/slice_2_1.png');
  background-size: 100% 110%;
}

.pic2-2 {
  background-image: url('../images/victory/slice_2_2.png');
  background-size: 100% 110%;
}

.pic2-3 {
  background-image: url('../images/victory/slice_2_3.png');
  background-size: 100% 110%;
}

.pic2-4 {
  background-image: url('../images/victory/slice_2_4.png');
  background-size: 100% 110%;
}

.pic2-5 {
  background-image: url('../images/victory/slice_2_5.png');
  background-size: 100% 110%;
}

.pic2-6 {
  background-image: url('../images/victory/slice_2_6.png');
  background-size: 100% 110%;
}

.pic2-7 {
  background-image: url('../images/victory/slice_2_7.png');
  background-size: 100% 110%;
}

.pic2-8 {
  background-image: url('../images/victory/slice_2_8.png');
  background-size: 100% 110%;
}

.pic2-9 {
  background-image: url('../images/victory/slice_2_9.png');
  background-size: 100% 110%;
}

.pic2-10 {
  background-image: url('../images/victory/slice_2_10.png');
  background-size: 100% 110%;
}

.pic2-11 {
  background-image: url('../images/victory/slice_2_11.png');
  background-size: 100% 110%;
}

.pic2-12 {
  background-image: url('../images/victory/slice_2_12.png');
  background-size: 100% 110%;
}

.pic2-13 {
  background-image: url('../images/victory/slice_2_13.png');
  background-size: 100% 110%;
}

.pic2-14 {
  background-image: url('../images/victory/slice_2_14.png');
  background-size: 100% 110%;
}

.pic2-15 {
  background-image: url('../images/victory/slice_2_15.png');
  background-size: 100% 110%;
}

.pic1-0 {
  background-image: url('../images/victory/slice_1_0.png');
  background-size: 100% 110%;
}

.pic1-1 {
  background-image: url('../images/victory/slice_1_1.png');
  background-size: 100% 110%;
}

.pic1-2 {
  background-image: url('../images/victory/slice_1_2.png');
  background-size: 100% 110%;
}

.pic1-3 {
  background-image: url('../images/victory/slice_1_3.png');
  background-size: 100% 110%;
}

.pic1-4 {
  background-image: url('../images/victory/slice_1_4.png');
  background-size: 100% 110%;
}

.pic1-5 {
  background-image: url('../images/victory/slice_1_5.png');
  background-size: 100% 110%;
}

.pic1-6 {
  background-image: url('../images/victory/slice_1_6.png');
  background-size: 100% 110%;
}

.pic1-7 {
  background-image: url('../images/victory/slice_1_7.png');
  background-size: 100% 110%;
}

.pic1-8 {
  background-image: url('../images/victory/slice_1_8.png');
  background-size: 100% 110%;
}

.pic1-9 {
  background-image: url('../images/victory/slice_1_9.png');
  background-size: 100% 110%;
}

.pic1-10 {
  background-image: url('../images/victory/slice_1_10.png');
  background-size: 100% 110%;
}

.pic1-11 {
  background-image: url('../images/victory/slice_1_11.png');
  background-size: 100% 110%;
}

.pic1-12 {
  background-image: url('../images/victory/slice_1_12.png');
  background-size: 100% 110%;
}

.pic1-13 {
  background-image: url('../images/victory/slice_1_13.png');
  background-size: 100% 110%;
}

.pic1-14 {
  background-image: url('../images/victory/slice_1_14.png');
  background-size: 100% 110%;
}

.pic1-15 {
  background-image: url('../images/victory/slice_1_15.png');
  background-size: 100% 110%;
}

.pic0-0 {
  background-image: url('../images/victory/slice_0_0.png');
  background-size: 100% 110%;
}

.pic0-1 {
  background-image: url('../images/victory/slice_0_1.png');
  background-size: 100% 110%;
}

.pic0-2 {
  background-image: url('../images/victory/slice_0_2.png');
  background-size: 100% 110%;
}

.pic0-3 {
  background-image: url('../images/victory/slice_0_3.png');
  background-size: 100% 110%;
}

.pic0-4 {
  background-image: url('../images/victory/slice_0_4.png');
  background-size: 100% 110%;
}

.pic0-5 {
  background-image: url('../images/victory/slice_0_5.png');
  background-size: 100% 110%;
}

.pic0-6 {
  background-image: url('../images/victory/slice_0_6.png');
  background-size: 100% 110%;
}

.pic0-7 {
  background-image: url('../images/victory/slice_0_7.png');
  background-size: 100% 110%;
}

.pic0-8 {
  background-image: url('../images/victory/slice_0_8.png');
  background-size: 100% 110%;
}

.pic0-9 {
  background-image: url('../images/victory/slice_0_9.png');
  background-size: 100% 110%;
}

.pic0-10 {
  background-image: url('../images/victory/slice_0_10.png');
  background-size: 100% 110%;
}

.pic0-11 {
  background-image: url('../images/victory/slice_0_11.png');
  background-size: 100% 110%;
}

.pic0-12 {
  background-image: url('../images/victory/slice_0_12.png');
  background-size: 100% 110%;
}

.pic0-13 {
  background-image: url('../images/victory/slice_0_13.png');
  background-size: 100% 110%;
}

.pic0-14 {
  background-image: url('../images/victory/slice_0_14.png');
  background-size: 100% 110%;
}

.pic0-15 {
  background-image: url('../images/victory/slice_0_15.png');
  background-size: 100% 110%;
}
