.map {
  display: inline-block;
  margin-top: 0.1vh;
  margin-bottom: -0.1vh;
  border: 3px solid white;
  outline-color: gray;
  outline-style: solid;
  outline-width: thin;
  top: 1.5vh;
  height: 6.8vh;
  color: black;
  background-size: 100%;
  background-color: white;
  z-index: 5;
  font-size: 2vh;
}

.map:hover {
    border: 3px solid black;
}

.tile {
  background-image: url('../images/tile.png');
  background-size: 100%;
}

.board-item {
  height: 6vh;
  width: 6vh;
  position: absolute;
  right: 0px;
  top: 0px;
}
