.button {
  position: relative;
  right: 7px;
  width: 10%;
  margin: 7px;
  float: right;
  margin-right: 19%;
}

.ui.huge.image {
  margin-right: 3%;
  margin-top: 1%;
}

.ui.four.column.grid {
  margin-top: 3%;
  margin-bottom: 3%;
  margin-right: 0.25%;
}

.background {
  background-color: #283942;
  height: 100%;
}

.link:hover {
  cursor: pointer;
}

.App-header {
  background-color: #283942;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  color: inherit;
}
