.button {
  position: relative;
  right: 7px;
  width: 100%;
  margin: 7px;
}

.background {
  background-color: #283942;
  height: 100%;
}

.link:hover {
  cursor: pointer;
}

.App-header {
  background-color: #283942;
}

h1 {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

p {
  font-family: 'Helvetica', 'Arial', sans-serif;
}

a {
  color: inherit;
}
