div {
  text-align: center;
  font-family: 'Helvetica', 'Arial', sans-serif;
}

.colors {
  background-color: #283942;
  color: white;
  height: 100%;
}

.title {
  margin-top: 1%;
  text-decoration: underline;
}

p {
  margin-left: 25%;
  margin-right: 25%;
  font-size: 16px;
}
