.player-info {
  float: left;
  width: 20%;
  margin-top: 1%;
}

.game-info {
  float: left;
  width: 60%;
  margin-left: 0.25%;
  margin-top: 1%;
}

.text-info {
  float: right;
  width: 19.3%;
  margin-top: 1%;
}

/*.play-page {
  background: #283942;
  height: 100vh;
}*/

.player-box {
  height: 17vh;
}

.logo {
  height: 4.2vh;
}
