.player-box {
  margin-bottom: 1%;
  margin-left: 2.5%;
  width: 95%;
}

.item-box {
  margin-left: 3vh;
}

@media only screen and (max-width: 1700px) {
  .ready {
    margin-left: 65.5%;
    margin-top: 10%;
    position: absolute;
  }
}

@media only screen and (max-width: 1600px) {
  .inventory {
    visibility: hidden;
    position: absolute;
  }
}
