.player-box {
  margin-bottom: 1%;
  margin-left: 2.5%;
  width: 95%;
}

@media only screen and (max-width: 1700px) {
  .ready {
    margin-left: 65.5%;
    margin-top: 15%;
    position: absolute;
  }

  .right.floated.ui.header {
    font-size: 1.67vh;
  }
}

@media only screen and (max-width: 1500px) {
  .inventory {
    visibility: hidden;
    position: absolute;
  }

  .ready {
    margin-left: 55.5%;
    margin-top: 14.3%;
    position: absolute;
  }

  .item-slot {
    margin-top: 6.66%;
  }
}

.card.player-box {
  border-radius: 10px;
  margin: 1%;
  margin-right: 1%;
}

.image {
  margin-left: 3%;
  margin-top: 3%;
}

.right.floated.ui.header {
  margin-right: 3%;
  margin-top: 3%;
  padding: 1%;
  border-radius: 5px;
}

.item-pic {
  width: 100%;
  height: auto;
}

.item-slot {
  display: inline-block;
  top: 0vh;
  margin-bottom: 2.5px;
}

.item-outline {
  height: 3.75vh;
  width: 3.75vh;
  border: 0.2vh solid silver;
  border-radius: 15%;
  margin-right: 5px;
  margin-top: -5px;
  background-color: white;
}

.right.floated.ui.header.player1 {
  border: 2px solid #fd79a8;
}

.right.floated.ui.header.player3 {
  border: 2px solid #d63031;
}

.right.floated.ui.header.player2 {
  border: 2px solid black;
}

.right.floated.ui.header.player4 {
  border: 2px solid #4cd137;
}

.right.floated.ui.header.player5 {
  border: 2px solid #3498db;
}

.player-name {
  background-color: white;
}
