.chat-action {
  width: 100%;
  right: -1%;
}

.talk-input {
  float: right;
}

.chat-change {
  float: left;
  height: 40px;
  font-size: 1.5vh;
  width: 27.5%;
  text-align: center;
}

@media only screen and (min-width: 1500px) {
  .chat-change {
    width: 22.5%;
  }
}

@media only screen and (max-width: 1500px) {
  .chat-action {
    width: 70%;
    right: 10%;
  }
}

.chat-header {
  background-color: white;
}

.text-container {
  margin: auto;
  position: absolute;
  bottom: -74.5vh;
}

.text-box {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: -13.5px;
  bottom: 18px;
  width: 100%;
  max-height: 80.7vh;
  min-height: 80.7vh;
  overflow: scroll;
  overflow-x: hidden;
  background-color: white;
}

.text-list {
  color: black;
  margin: 1px solid black;
  margin-top: 4%;
  margin-bottom: 10% solid black;
  text-align: left;
  height: 2vh;
}

.between-text {
  border-bottom: 1px solid black;
}

.command {
  background-color: #B9C1A3;
  border: 3px solid #B9C1A3;
}

.command:hover {
  border: 3.5px solid black;
  cursor: pointer;
}

.message {
  margin-bottom: -6.66px;
}

.chat {
  border: 3px solid white;
  z-index: 1;
}

.chat:hover {
  border: 3.5px solid black;
  cursor: pointer;
}
