.talk-input {
  top: 90vh;
  position: fixed;
}

.text-container {
  margin: auto;
  position: absolute;
  bottom: -77vh;
}

.text-box {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin-top: auto;
  bottom: 18px;
  width: 100%;
  max-height: 82vh;
  min-height: 82vh;
  overflow: scroll;
}

.text-list {
  color: black;
  margin: 1px solid black;
  margin-top: 4%;
  margin-bottom: 10% solid black;
  text-align: left;
  height: 2vh;
}

.between-text {
  border-bottom: 1px solid black;
}
