.home-logo {
  border-radius: 44%;
  border: 50px solid #981234;
  padding: 50px;
  background-color: #981234;
  color: #231166;
  position: relative;
  right: 200%;
  text-align: right;
}

.home-button {
  transform: rotate(-45deg);
}

.play-button {
  position: relative;
  right: 110%;
}

.login-button {
  transform: rotate(-45deg);
  position: relative;
  right: 100%;
  bottom: 300%;
}

.signup-button {
  transform: rotate(45deg);
  position: relative;
  right: 135%;
  top: 300%;
}
